<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="empDao" class="com.cy.dao.EmpDaoImpl">

    </bean>
    <bean id="empService" class="com.cy.service.EmpServiceImpl">

    </bean>

    <bean id="user" class="com.cy.pojo.User">
        <property name="name" value="小河"/>
        <property name="age" value="17"/>
    </bean>
</beans>
